.red-button{
    height: 65px;
    border: 1px solid #e79d9d;
    border-radius: 30px;
    outline-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 0 13px 0 13px;
}

.red-button:hover{
    filter: brightness(110%);
}

.red-button:active{
    border: 1px inset;
    filter: brightness(80%);
}
