#capture-general{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

#capture-heading{
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 130px;
    align-self: flex-start;
}

#capture-heading img{
    display: block;
    width: 480px;
    height: 480px;
}

#heading-text{
    align-self: flex-end;
    margin-left: auto;
    width: 40%;
    padding: 40px;
    border-top-left-radius: 50px;
    background-color: #023B59;
    background-image: url(./Resources/Logo-cut.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 350px;
}

#heading-text h1{
    font-size: 64px;
    color: #fff;
    margin-bottom: 40px;
}

#heading-text p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 60px;
}

#line2{
    background-color: #D9D9D9;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 12.5vw 40px 12.5vw;
}

#card1{
    background-color: white;
    width: 190px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}

#card2{
    background-color: white;
    width: 190px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}

#card3{
    background-color: white;
    width: 190px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}


#image-diagram{
    display: flex;
    width: 1300px;
}

#capture-button-up{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-bottom: 20px;
}

#diagram{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-image: url(./Resources/Top-background.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#diagram h3{
    font-size: 32px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

#image-text{
    background-color: white;
    font-size:27px;
    width: 500px;
    border-radius: 15px;
}

#text2{
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    margin-right: 50px;
}

#left{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

#menu{
    display: flex;
    flex-direction: column;
}

#numero-menu {
    font-size: 80px;
    color: red;
    margin-left: 10px;
}

#text1-menu{
    margin-top: 100px;
    margin-right: 100px;
}

#text2-menu{
    margin-top: 140px;
    margin-right: 100px;
}

#text3-menu{
    margin-top: 140px;
    margin-right: 100px;
}

#image-end{
    display: flex;
    flex-direction: row;
}

#forms-box{
    width: 70%;
    height: 500px;
    background-color: #023B59;
    border-radius: 0px 350px 0px 0px;
    margin-right: -270px;
}

#form-title{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

#capture-form-area{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
}

#capture-form-area img{
    align-self: flex-end;
    margin-left: auto;
}

#capture-form{
    margin-left: auto;
}