#components{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#line5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#text3{
    color: white;
    margin-top: 40vh;
    margin-left: 10vh;
}

#carrousel{
    display: flex;
    justify-content: center;
}

#text1-blog{
    background-color: #023B59;
    width: 100vw;
    height: 98vh;
    border-radius: 0px 800px 800px 0px;
}

#text1-blog{
    padding-right: 10vh;
}

#midle1{
    margin-top: 10vh;
    margin-left: 30vh;
}

#midle2{
    padding-bottom: 5vh;
}

#midle4{
    margin-top: 10vh;
    margin-right: 30vh;
}

#midle5{
    padding-top: 5vh;
}

#line-blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#title2{
    text-align: center;
    padding-top: 10vh;
}

#right{
    padding-top: 10vh;
    padding-right: 4vw;
}

#components2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#line3{
    padding-top: 5vh;
}

#tb{
    display: flex;
    justify-content: flex-start;
    padding-top: 20vh;
}

#image-bottom-blog{
    display: flex;
    justify-content: flex-end;
}

#final-image-blog{
    display: flex;
    justify-content: flex-end;
}

@media(max-width: 800px){
    #line5{
        flex-wrap: wrap;
    }
    #text3{
        margin-left: 2vw;
        margin-top: 25vh;
    }
    #components{
        display: flex;
        flex-wrap: wrap;
    }
    #image-top-blog img{
        width: 100vw;
    }
    #midle1{
        padding-bottom: 5vh;
        margin-left: 0vh;
    }
    #midle4{
        margin-top: 5vh;
        margin-right: 0vh;
    }
    #line-blog{
        flex-wrap: wrap;
        flex-direction: column;
    }
    #left-blog{
        display: flex;
        flex-direction: column;
        margin-left: 0vw;
        align-items: center;
        flex-wrap: wrap;
    }
    #right{
        padding-right: 0vw;
        padding-left: 22vw;
    }
    #components2{
        display: flex;
        flex-wrap: wrap;
    }
    #image-bottom-blog{
        flex-direction: column;
        flex-wrap: wrap;
    }
}