#contents-container{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;    
}

#contents{
    width: 650px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#contents-top, #contents-middle, #contents-bottom{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
}

#contents-top{
    margin-bottom: 40px;
}

#contents-middle{
    width: 100%;
    justify-content: space-around;
}

#contents-bottom{
    margin-top: 40px;
    justify-content: flex-end;
}

.category-button{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#image-top-blog{
    padding-top: 100px;
    padding-right: 60px;
}

#image-top-blog img{
    width: auto;
    height: 60vh;
}

#search-bar-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
    margin-bottom: 50px;
}

#line5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
}

#text3{
    display: flex;
    flex-flow: column nowrap;
    color: white;
}

#text3 h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#text3 h3{
    font-size: 1.5rem;
    font-weight: normal;
}

#carrousel{
    display: flex;
    justify-content: center;
}

#text1-blog{
    width: 50%;
    height: 100%;
    background-color: #023B59;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 180px 0 0 60px;
}

#line-blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#title2{
    text-align: center;
    padding-top: 10vh;
}

#left-blog img{
    width: 35vw;
    height: auto;
    margin-top: 80px;
}

#right-blog{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 120px;
    padding-top: 60px;
}

#right-blog div{
    margin-bottom: 50px;
}

.components2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#line3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#tb{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    justify-self: center;
    width: 450px;
    position: absolute;
    left: calc(50% - 225px);
    z-index: 1;
}

#image-bottom-blog{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 400px;
}

#final-image-blog{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: flex-end;
    width: 100%;
    height: 100%;
}

#final-image-blog img{
    width: auto;
    height: 90%;
}

#dialog-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
}

#dialog-content{
    display: flex;
    flex-flow: column nowrap;
    align-items:  center;
    justify-content: center;
    align-self: center;
}

#dialog-content img{
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

#dialog-content p{
    font-size: 18px;
    color: #023B59;
    font-weight: bold;
    margin-bottom: 2px;
}

#dialog-content label{
    align-self: flex-start;
}

#dialog-title{
    width: 400px;
    font-size: 22px;
    color: #023B59;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.dialog-label{
    font-size: 18px;
    margin-bottom: 5px;
}

.dialog-input{
    width: 400px;
    height: 40px;
    border-radius: 19px;
    border: 1px solid #000;
    padding: 4px 15px 4px 15px;
    margin: 10px 0px 10px 0px;
    background-color: #d9d9d9;
    font-size: 16px;
}

#dialog-confirm{
    margin-top: 10px;
    align-self: center;
}

#contents-button{
    padding: 50px 15px 50px 15px;
}

/*Styles for small smartphones*/
@media (max-width: 320px){
    #search-bar-container{
        width: 100%;
        margin-left: 0;
    }

    #contents{
        flex-direction: column;
    }

    #line5{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 100px;
        margin-bottom: 20px;
        background-color: #023B59;
    }

    #image-top-blog{
        padding: 0;
    }

    #image-top-blog img{
        height: 40vh;
        width: auto;
    }

    #title2 h3{
        margin-bottom: 20px;
    }

    #left-blog{
        width: 50%;
    }

    #left-blog img{
        width: 40vw;
    }

    #right-blog{
        padding: 10px 5px 0 0;
    }

    #right-blog div{
        margin-bottom: 25px;
    }

    #text1-blog{
        width: 100%;
        padding: 20px 10px 0 10px;
    }

    #text3{
        width: 100%;
        margin: 20px 0 40px 0;
        align-items: center;
        padding: 0 10px 0 10px;
    }

    #text3 h2{
        font-size: 36px;
        max-width: initial;
        text-align: center;
    }

    #text3 h3{
        font-size: 20px;
        margin-top: 10px;
        max-width: initial;
    }

    #image-bottom-blog{
        height: 375px;
    }

    #tb{
        width: fit-content;
        top: 0;
        left: 0;
        margin-top: 20px;
        margin-left: 15px;
    }

    #final-image-blog{
        height: 400px;
    }

    #final-image-blog img{
        height: 50%;
    }

    .dialog-input, #dialog-title{
        width: 250px;
    }
}

/*Styles for smartphones*/
@media (min-width: 321px) and (max-width: 600px){
    #search-bar-container{
        width: 100%;
        margin-left: 0;
    }

    #contents{
        flex-direction: column;
    }

    #line5{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 100px;
        margin-bottom: 20px;
        background-color: #023B59;
    }

    #image-top-blog{
        padding: 0;
    }

    #image-top-blog img{
        height: 35vh;
        width: auto;
    }

    #title2 h3{
        margin-bottom: 20px;
    }

    #left-blog{
        width: 50%;
    }

    #left-blog img{
        width: 45vw;
        height: auto;
    }

    #right-blog{
        padding: 10px 15px 0 0;
    }

    #right-blog div{
        margin-bottom: 25px;
    }

    #text1-blog{
        width: 100%;
        padding: 0;
        background-image: none;
    }

    #text3{
        width: 100%;
        margin: 20px 0 40px 0;
        align-items: center;
        padding: 0 10px 0 10px;
    }

    #text3 h2{
        font-size: 36px;
        max-width: initial;
        text-align: center;
    }

    #text3 h3{
        font-size: 20px;
        margin-top: 10px;
        max-width: initial;
    }

    #image-bottom-blog{
        height: 375px;
    }

    #tb{
        width: initial;
        top: 0;
        left: 0;
        margin-top: 20px;
        margin-left: 10px;
    }

    #final-image-blog{
        height: 400px;
    }

    #final-image-blog img{
        height: 60%;
    }

    #dialog-title{
        width: 300px;
    }

    .dialog-input{
        width: 300px;
    }
}

/*Styles for tablets*/
@media (min-width: 601px) and (max-width: 992px){
    #line5{
        height: 55vh;
    }

    #text1-blog{
        width: 60%;
        padding: 150px 0 0 60px;
    }

    #image-top-blog{
        padding: 150px 20px 0 10px;
    }

    #image-top-blog img{
        width: 40vw;
        height: auto;
    }

    #text3 h2{
        font-size: 2rem;
    }

    #text3 h3{
        font-size: 1.3rem;
    }

    #left-blog img{
        width: 50vw;
    }

    #image-bottom-blog{
        height: 400px;
    }
}

/*Styles for very large tablets (iPad Pro)*/
@media (min-width: 992px) and (max-width: 1024px){
    #line5{
        height: 50vh;
    }

    #text1-blog{
        width: 60%;
        padding: 150px 0 0 40px;
    }

    #image-top-blog{
        padding: 150px 20px 0 0;
    }

    #image-top-blog img{
        width: auto;
        height: 100%;
    }

    #text3 h2{
        font-size: 2rem;
    }

    #text3 h3{
        font-size: 1.3rem;
    }
}

/*Styles for horizontal smartphones*/
@media (max-height: 450px){
    #text1-blog{
        width: 60%;
        padding: 120px 0 0 30px;
    }

    
    #text3 h2{
        font-size: 1.1rem;
    }

    #text3 h3{
        font-size: 1rem;
    }
}

/*Styles for horizontal smartphones (iPhone 5)*/
@media (max-height: 376px){
    #text1-blog{
        width: 60%;
        padding: 120px 0 0 30px;
    }

    
    #text3 h2{
        font-size: 1rem;
    }

    #text3 h3{
        font-size: 0.8rem;
    }
}

/*Styles for smartphones*/
@media (max-width: 650px){
    #contents-bottom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .category-button{
        margin-left: 0px;
        margin-top: 50px;
    }
}