.textBox{
    width: 28rem;
    height: 70vh;
    border-radius: 30px;
    text-align: justify;
}

#button-text-box{
    display: flex;
    justify-content: center;
}

@media(max-width: 800px){
    .textBox{
        height: 50vh;
        width: 95vw;
        margin-left: 0.6rem;
    }
}
