.textBox{
    width: 28rem;
    height: 350px;
    border-radius: 30px;
    font-size: 28px;
}

.textBox h3{
    text-align: center;
    padding: 40px;
}

#button-text-box{
    display: flex;
    justify-content: center;
}

/*Styles for small smartphones*/
@media (max-width: 320px){
    .textBox{
        width: 90vw;
        height: 300px;
        font-size: 20px;
    }

    .textBox h3{
        padding: 30px;
        padding-bottom: 20px;
    }
}

/*Styles for smartphones*/
@media (min-width: 321px) and (max-width: 600px){
    .textBox{
        width: 95vw;
        height: 320px;
        font-size: 24px;
    }

    .textBox h3{
        padding: 40px 25px 40px 25px;
    }
}

/*Styles for notebook*/
@media (min-width: 601px) and (max-width: 1400px){
    .textBox{
        width: 85vw;
        height: 290px;
        font-size: 24px;
    }

    .textBox h3{
        padding: 40px 25px 40px 25px;
    }
}

/*Styles for horizontal smartphones*/
@media (max-height: 450px){
    .textBox{
        width: 55vw;
        height: 150px;
        font-size: 15px;
        margin-top: 100px;
    }

    .textBox h3{
        padding: 20px 25px 10px 25px;
    }
}

/*Styles for horizontal smartphones (iPhone 5)*/
@media (max-height: 376px){
    .textBox{
        width: 55vw;
        height: 150px;
        font-size: 14px;
        margin-top: 100px;
    }

    .textBox h3{
        padding: 20px 25px 10px 25px;
    }
}