#home-general{
    display: flex;
    flex-direction: column;
}

#button-general{
    margin-left: 30px;
    margin-top: 5%;
}

#text1{
    display: flex;
    flex-direction: column;
    margin-top: 45vh;
    margin-left: 5vw;
    width: 40vw;
}

#image-top{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 2px;
}

#image1{
    display: flex;
}

#text20{
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    width: 40vw;
    margin-top: 25vh;
}

#line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lineComoFunciona{
    display: flex;
    align-self: center;
    padding-right: 20vw;
}

#left{
    display: flex;
    flex-direction: row;
}

#menu{
    display: flex;
    flex-direction: column;
}

#numero-menu {
    font-size: 80px;
    color: red;
    margin-left: 10px;
}

#text1-menu{
    margin-top: 100px;
    margin-right: 100px;
}

#text2-menu{
    margin-top: 140px;
    margin-right: 100px;
}

#text3-menu{
    margin-top: 140px;
    margin-right: 100px;
}

#button-up{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

@media(max-width: 600px){
    #line{
        flex-wrap: wrap;
    }
    #text1{
        flex-wrap: wrap;
        text-align: center;
        width: 95vw;
        justify-content: flex-end;
        margin-top: 30vh;
    }
    #text20{
        flex-wrap: wrap;
        text-align: center;
        width: 95vw;
        justify-content: flex-end;
        margin-top: 0vh;
        margin-bottom: 5vh;
    }
    #left{
        margin-right: 25vw;
    }
    #lineComoFunciona{
        margin-right: 35vw;
    }
    #image1Menu{
        margin-right: 70vw;
    }
    #text1-menu{
        width: 350px;
        text-align: center;
        margin-left: 5vw;
        margin-top: 0px;
    }
    #text2-menu{
        width: 350px;
        text-align: center;
        margin-left: 5vw;
        margin-top: 0px;
    }
    #text3-menu{
        width: 350px;
        text-align: center;
        margin-left: 5vw;
        margin-top: 0px;
        padding-bottom: 5vh;
    }
}