#home-general{
    display: flex;
    flex-direction: column;
}

#button-general{
    margin-left: 30px;
    margin-top: 5%;
}

#text1{
    display: flex;
    flex-direction: column;
    margin-top: 45vh;
    margin-left: 5vw;
    width: 40vw;
}

#image-top-home{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 2px;
}

#image1{
    display: flex;
}

#text20{
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    width: 40vw;
    margin-top: 25vh;
}

#line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#line-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lineComoFunciona{
    display: flex;
    justify-content: center;
}

#left{
    display: flex;
    flex-direction: row;
}

#menu-home{
    display: flex;
    flex-direction: column;
}

#numero-menu {
    font-size: 80px;
    color: red;
    margin-left: 10px;
}

#text1-menu{
    margin-top: 100px;
    margin-right: 100px;
}

#text2-menu{
    margin-top: 140px;
    margin-right: 100px;
}

#text3-menu{
    margin-top: 140px;
    margin-right: 100px;
}

#button-up{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

@media(max-width: 800px){
    #line{
        display: flex;
        flex-wrap: wrap;
    }
    #image-top-home{
        display: flex;
        justify-content: flex-end;
        width: 100vw;
    }
    #image-top-home img{
        width: 100vw;
    }
    #text1{
        flex-wrap: wrap;
        text-align: center;
        width: 100vw;
        justify-self: center;
        margin-left: 0vw;
        margin-top: 30vh;
    }
    #text20{
        flex-wrap: wrap;
        text-align: center;
        width: 100vw;
        justify-self: center;
        margin-top: 0vh;
        margin-right: 0vw;
        margin-bottom: 5vh;
    }
    #image1{
        display: flex;
        justify-content: flex-end;
        width: 100vw;
    }
    #image1 img{
        width: 100vw;
        height: 10vh;
    }
    #left > img{
        display: none;
    }
    #menu-home{
        width: 100vw;
        justify-content: center;
    }
    #line-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #image1Menu{
        display: flex;
        justify-self: center;
    }
    #text1-menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 350px;
        margin-right: 0px;
        margin-top: 0px;
        margin-left: 20vw;
    }
    #text2-menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 350px;
        margin-left: 0px;
        margin-top: 0px;
        margin-left: 20vw;
    }
    #text3-menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 350px;
        margin-left: 0px;
        margin-top: 0px;
        padding-bottom: 5vh;
        margin-left: 20vw;
    }
}