#home-general{
    display: flex;
    flex-direction: column;
    padding-top: 125px;
}

.button-general{
    margin-left: 30px;
    margin-top: 5%;
}

#text1{
    display: flex;
    flex-direction: column;
    margin-top: 32vh;
    margin-left: 5vw;
    width: 40vw;
}

#text1 h3{
    padding-top: 1vh;
}

#image-top-home{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 2px;
}

#image1{
    display: flex;
}

#text20{
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    width: 40vw;
    margin-top: 25vh;
}

#text20 h3{
    padding-top: 1vh;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lineComoFunciona{
    display: flex;
    justify-content: center;
}

#left{
    display: flex;
    flex-direction: row;
}

#menu-home{
    display: flex;
    flex-direction: column;
}

.numero-menu {
    font-size: 80px;
    color: red;
    margin-left: 10px;
}

#text1-menu-home{
    margin-top: 100px;
    margin-right: 100px;
}

#text1-menu-home h5{
    padding-top: 1vh;
}

#text2-menu-home{
    margin-top: 130px;
    padding-left: 7vw;
}

#text2-menu-home h5{
    padding-top: 1vh;
}

#text3-menu-home{
    margin-top: 140px;
    margin-right: 50px;
}

#text3-menu-home h5{
    padding-top: 1vh;
}

#button-up{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

/*Style for smartphones and low res tables*/
@media (max-width: 750px), (max-height: 750px) and (orientation: landscape){
    #home-general{
        padding-top: 100px;
    }

    .line{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #image-top-home{
        display: flex;
        justify-content: center;
        width: 100vw;
        padding-bottom: 5vh;
    }
    #image-top-home > img:last-child{
        display: flex;
        justify-content: center;
        width: 100vw;
        display: none;
    }
    #text1{
        flex-wrap: wrap;
        text-align: center;
        width: 90vw;
        justify-self: center;
        margin-left: 0vw;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
    #text1 h3{
        padding-top: 2vh;
        font-size: 15px;
    }
    #text1 h1{
        font-size: 25px;
    }
    #text20{
        flex-wrap: wrap;
        text-align: center;
        width: 90vw;
        justify-self: center;
        align-self: center;
        margin-top: 0vh;
        margin-right: 0vw;
        margin-bottom: 5vh;
        order: 1;
    }
    #text20 h2{
        font-size: 25px;
    }
    #text20 h3{
        padding-top: 2vh;
        font-size: 15px;
    }
    #image1{
        display: none;
        justify-content: center;
        width: 100vw;
        order: 2;
    }
    #image1 img{
        width: 100vw;
    }
    #left > img{
        display: none;
    }
    #menu-home{
        width: 100vw;
        justify-content: center;
    }
    .line-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #image1Menu{
        display: flex;
        justify-self: center;
    }
    #image1-menu-home{
        order: 1;
    }
    #text1-menu-home{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 350px;
        margin-right: 0px;
        margin-top: 0px;
        order: 2;
    }
    #text1-menu-home h5{
        padding-top: 2vh;
    }
    #image2-menu-home{
        order: 3;
    }
    #text2-menu-home{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 350px;
        margin-right: 0px;
        margin-top: 0px;
        order: 4;
    }
    #text2-menu-home h5{
        padding-top: 2vh;
    }
    #image3-menu-home{
        order: 5;
    }
    #text3-menu-home{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 350px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 5vh;
        order: 6;
    }
    #text3-menu-home h5{
        padding-top: 2vh;
    }
}