.category-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    width: 220px;
    height: 240px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
    overflow: hidden;
    overflow-wrap:  break-word;
    border-radius: 10px;
}

.category-title{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    user-select: none;
    margin-bottom: 10px;
}

.category-description{
    font-size: 14px;
    margin-bottom: 10px;
    user-select: none;
}

.category-leia-mais{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.category-leia-mais:hover{
    text-decoration: underline;
}

.category-image{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

/*Styles for small smartphones*/
@media (max-width: 320px){
    .category-container{
        width: 130px;
        height: 220px;
        padding: 10px;
    }

    .category-image{
        margin-bottom: 10px;
    }

    .category-title{
        font-size: 16px;
        word-break: break-all;
    }

    .category-description{
        font-size: 12px;
    }

    .category-leia-mais{
        font-size: 14px;
    }

}

/*Styles for smartphones*/
@media (min-width: 321px) and (max-width: 600px){
    .category-container{
        width: 160px;
        height: 200px;
        padding: 10px;
    }

    .category-image{
        margin-bottom: 10px;
    }

    .category-title{
        font-size: 16px;
    }

    .category-description{
        font-size: 12px;
    }

    .category-leia-mais{
        font-size: 14px;
    }
}