.modal-overlay {
    background: rgba(242, 243, 245, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background: #fff;
    width: 100%;
    max-width: 400px;
    padding: 2rem 3rem;
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    text-align: center;
    position: relative;
}

#modal-image {
    margin: 10px 0 15px 0;
}

.modal-container strong {
    font-size: 2.25rem;
    color: #2E384D;
}

.modal-container p {
    font-size: 1.25rem;
    color: #666666;
    margin-top: 0.25rem;
}

.modal-container button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background: transparent;
    border: 0;
    margin: 10px;
}