#navbar{
    background-color: white;
    width: 100%;
    box-shadow: 2px 2px 2px #6f6f70a6;
    align-content: center;
    justify-content: space-around;
    height: 125px;
}

#logo{
    width: 250px;
    height: 100px;
}

#options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#comoFunciona{
    margin-right: 40px;
}

#sobre{
    margin-right: 40px;
}

#blog{
    margin-right: 40px;
}

#ajuda{
    margin-right: 40px;
}

@media (max-width: 420px) {
    #navbar{
        height: 250px;
    }
}
