.gallery-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: min-content;
}

.gallery-items{
    border-collapse: separate;
    empty-cells: show;
}

.gallery-items td{
    width: 200px;
    height: 160px;
}

.gallery-pages{
    border-collapse: separate;
    border-spacing: 10px 0;
}

.gallery-page-num{
    font-size: 18px;
    cursor: pointer;
}

.gallery-page-num:hover{
    text-decoration: underline;
}

.gallery-page-num[selectedpage="true"]{
    color: #023B59;
}