#sobre-general{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#e9e9e9;
    padding: 125px 100px 10px 150px;
    background-image: url(Cut-logo.png);
    background-repeat: no-repeat;
    background-size: 50vh;
    background-position: bottom -120px left -120px;
    min-height: calc(100vh - 267px);
}


#introducao-text{
    margin-right: auto;
    text-align:justify;
    max-width: 500px;
}

#introducao-title{
    width: 400px;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-bottom-width: 1px;
    margin-bottom: 30px;
}

.text{
    font-size: 23px;
}

#image-top{
    height: 50vh;
    width: auto;
}

/*Styles for smartphones*/
@media(max-width: 600px){
    #sobre-general{
        flex-direction: column;
        align-items: center;
        padding: 120px 20px 0 20px;
        background-position: bottom -70px left -90px;
    }

    #introducao-text{
        text-align: justify;
        margin: 0;
    }
    
    #introducao-title{
        width: 80%;
        white-space: nowrap;
    }
    
    .text{
        font-size: 20px;
        margin-bottom: 5px;
    }
    
    #image-top{
        width: 90%;
        height: auto;
        margin: 0;
    }
}

/*Styles for tables*/
@media (min-width: 601px) and (max-width: 992px){
    #sobre-general{
        padding: 125px 20px 10px 50px;
        align-items: center;
    }

    #introducao-text{
        width: 50%;
        margin: 0;
        margin-right: auto;
    }

    #introducao-title{
        width: 80%;
        white-space: nowrap;
    }

    .text{
        font-size: 22px;
        margin-bottom: 5px;
    }

    #image-top{
        width: 40vw;
        height: auto;
    }
}

/*Styles for large tables (iPad Pro)*/
@media (min-width: 993px) and (max-width: 1024px){
    #sobre-general{
        padding: 125px 20px 0 50px;
        align-items: center;
    }
    
    #introducao-text{
        width: 50%;
        margin: 0;
        margin-right: auto;
    }

    .text{
        margin-bottom: 10px;
    }

    #image-top{
        width: 40vw;
        height: auto;
    }
}