#sobre-general{
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color:#e9e9e9;
    padding-bottom: 10px;
    background-image: url(Cut-logo.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: -12vw 30vh;
    min-height: calc(100vh - 267px);
}


#introducao-text{
    margin-top: 200px;
    margin-right: 8%;
    margin-left: 150px;
    text-align:justify;
    max-width: 500px;
}

#introducao-title{
    width: 400px;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-bottom-width: 1px;
    margin-bottom: 30px;
}

#text{
    font-size: 23px;
}

#image-top{
    margin-top: 110px;
    width: 550px;
}

@media(max-width: 600px){
    #sobre-general{
        flex-direction:column;
        justify-content: space-evenly;
        background-size: 80%;
        background-position: -100% 52%;
        padding-right: 5vh;
    }
    
    
    #introducao-text{
        margin-top: 150px;
        text-align: justify;
        margin-left: 5vh;
        width: 85%;
    }
    
    #introducao-title{
        width: 80%;
        white-space: nowrap;
    }
    
    #text{
        font-size: 20px;
    }
    
    #image-top{
        margin-top: 2vh;
        width: 90%;
        margin-left: auto;
    }
}

@media(max-height: 600px) and (orientation: landscape){
    #sobre-general{
        flex-direction:row;
        justify-content: space-around;
        background-image: url(Cut-logo.png);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: -100% -25%;
        padding-bottom: 5vw;
    }
    
    
    #introducao-text{
        margin-top: 150px;
        margin-right: 8%;
        margin-left: 5vh;
        text-align: justify;
        width: 85%;
    }
    
    #introducao-title{
        width: 80%;
        white-space: nowrap;
    }
    
    #text{
        font-size: 20px;
    }
    
    #image-top{
        margin-top: auto;
        width: 30%;
    }
}