#navbarFooter{
    background-color: black;
    width: 100%;
    box-shadow: 2px 2px 2px #6f6f70a6;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#LogoFooter{
    height: 100px;
    width: 100px;
    display: flex;
    margin-right: 1100px;
}

#OpcoesFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 300px;
}

#ComoFuncionaFooter{
    margin-right: 40px;
    color: white;
}

#CasesFooter{
    margin-right: 40px;
    color: white;
}

#BlogFooter{
    margin-right: 40px;
    color: white;
}

#OndeEstamosFooter{
    color: white;
}

#LoginFooter{
    margin-right: 120px;
    color: white;
}

#Direitos{
    color: white;
    margin-right: 750px;
    margin-top: 40px;
    margin-bottom: 20px;
}
