#nav-footer{
    background-color: black;
    width: 100%;
    box-shadow: 2px 2px 2px #6f6f70a6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 40px;
    height: 200px;
    flex-grow: 0;
}

#upper-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

#onde-estamos-footer{
    color: white;
    list-style-type: none;
    position: relative;
}

#direitos{
    color: white;
    margin: 20px 0 0 23px;
    white-space: nowrap;
}


@media (max-width: 600px){
    #nav-footer{
        height: 165px;
        padding: 20px;
    }

    #upper-footer{
        border-color: white;
        border-bottom-style:solid;
        border-width: 1px;
        padding: 0;
        padding-bottom: 20px;
        margin: 0;
    }

    #onde-estamos-footer{
        font-size: 0.95rem;
    }

    #direitos{
        white-space: nowrap;
        margin: 0;
        margin-top: 20px;
    }
}