.bcard-container{
    min-width: 200px;
    min-height: 160px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
    position: relative;
    overflow: hidden;
}

.bcard-container:hover{
    cursor: pointer;
}

.bcard-cover{
    max-width: 90%;
    height: auto;
    opacity: 0.35;
    position: absolute;
    top: center;
    left: center;
    z-index: 1;
    user-select: none;
}

.bcard-title{
    width: 200px;
    height: 160px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    padding: 40px 15px 40px 15px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 600px), (max-height: 600px) and (orientation: landscape){
    .bcard-container{
        min-width: 150px;
        max-height: 110px;
    }
}