.bcard-container{
    width: 200px;
    height: 160px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.bcard-container:hover{
    cursor: pointer;
}

.bcard-cover{
    width: 100%;
    height: 100%;
    opacity: 0.35;
    position: absolute;
    top: center;
    left: center;
    z-index: 1;
}

.bcard-title{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    word-wrap: break-word;
}

/*Styles for small smartphones*/
@media (max-width: 320px){
    .bcard-container{
        width: 130px;
        height: 140px;
    }

    .bcard-title{
        font-size: 14px;
    }
}

/*Styles for smartphones*/
@media (min-width: 321px) and (max-width: 600px){
    .bcard-container{
        width: 150px;
    }

    .bcard-title{
        font-size: 16px;
    }
}